
@font-face {
    font-family: 'Charlotte';
    src: url('./FontFamily/Charlotte.otf') format('truetype');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'waterfall';
    src: url('./FontFamily/Waterfall/Waterfall-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


  


